grid {
    display: flex;
    background-image: url("../img/backGrid.png");
}

.case {
    border: .5px black solid;
    /* margin: .1em; */
    padding: 1em;
    box-sizing: border-box;
    color: white;
}

.P {
    background-image: url("../sprite/doomGuy.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.T {
    background-image: url("../sprite/terre.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.M {
    background-image: url("../sprite/mur.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.D {
    background-image: url("../sprite/diams.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.R {
    background-image: url("../sprite/cacodemon.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}