grid {
    display: flex;
    background-image: url("../img/backGrid.png");
    /* opacity: 0.7; */
}

.case {
    border: .5px black solid;
    /* margin: .1em; */
    padding: 1em;
    box-sizing: border-box;
    color: white;
}

.P {
    background-image: url("../sprite/doomGuy.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.T {
    background-image: url("../sprite/mur.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.M {
    background-image: url("../sprite/mur.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}