body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: black;
    background-image: url("../img/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.case {
    padding: 1em;
    box-sizing: border-box;
    border: 1px black solid;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: brown;
}

li {
    padding: .1vw;
    margin: .2vw;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.469);
    border-radius: 5%;
    text-align: center;
    margin: .2vw auto;
}

button {
    border: none;
    height: auto;
    width: auto;
    /* transform: translateX(50%); */
    font-family: "doom";
    font-size: 3vw;
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-align:center;
    -webkit-text-stroke: .5px #000000;
}
